#content-slide{
    background-color: #fff;

    .swiper-slide {
        text-align: left !important;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .slide-zoom{
        margin-top: -10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
    }
}

